.noLink {
  text-decoration: none !important;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.locationsPageContent {
  text-align: center;
  color: orange;
}

.aboutPageContent {
  text-align: center;
  color: orange;
}

.underConstructionImg {
  height: 100px;
  margin-left: 45%;
}
